<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://wordsauce.com/images/albumart_theleak_front.jpg">
    <title>Wordsauce</title>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    <%= yield_content :stylesheets %>

    <%= js :modernizr %>
  </head>
  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1 class="sauce-font"><a href="/">WORDSAUCE</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul>
            <li><a href="/band">Band</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/tour">Tour</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="http://thesaucepot.info/" target="_blank">The Sauce Pot</a></li>
            <li><a href="https://www.facebook.com/wordsauce" target="_blank">Facebook</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <%= yield %>

    <%= js :libs %>
    <%= js :application %>
    <% if settings.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51945372-1', 'wordsauce.com');
      ga('send', 'pageview');

    </script>
    <% end %>
  </body>
</html>
