
  <% captions = [
    'Multi-Dimensional.',
    'The sauce is the boss',
    'Cross-Contaminated',
    'Catch Wordsauce at Rock n\' Flow 2015!',
    'New EP The Leak out soon!',
    'Only 2014\'s kids will know this',
    'salsa de palabra',
    'ponte tus zapatos de baile'
  ]
  %>
  <div class="row">
    <div class="large-12 columns">
      <ul data-orbit data-options="slide_number:false;">
        <% (1..5).each do |i| %>
        <li>
          <img src="/images/slider/slide_<%= i %>.jpg" alt="slide <%= i %>" />
      <!--     <div class="orbit-caption">
            <%= captions.sample %>
          </div> -->
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>Listen to new EP &ldquo;The Leak&rdquo;!</h3>
        <div class="row">
          <div class="large-8 medium-8 columns">
            <p>
              New Wordsauce EP, "The Leak", is out!
              Available now on <a href="https://itunes.apple.com/us/album/the-leak-ep/id897730566" target="_blank">iTunes</a>, <a href="http://www.amazon.com/The-Leak-Wordsauce/dp/B00LPGZQQG" target="_blank">Amazon</a>, Spotify, Pandora, <a href="https://play.google.com/store/music/album/Wordsauce_The_Leak?id=B5fhejtje7f45vvlkdhj3yeco7e" target="_blank">Google Play</a>, and more!
            </p>
          </div>
          <div class="large-4 medium-4 columns show-for-medium-up">
            <a class="th" href="/images/albumart_theleak_front.jpg"><img src="/images/albumart_theleak_front_sm.jpg"></a>
          </div>
        </div>
        <%
        # <a href="https://soundcloud.com/wordsauce/sets/the-leak" class="medium radius alert button" target="_blank"><img class="soundcloud-icon" src="/images/soundcloud_icon.png"> Stream it on Soundcloud &raquo;</a>
        %>
        <div class="row">
          <div class="large-12 columns">
            <p>
              Download on <a href="http://wordsaucemusic.bandcamp.com" target="_blank"><img src="http://s0.bcbits.com/img/buttons/bandcamp_130x27_white.png"></a>
            </p>
            <p>
              Stream on Soundcloud:
            </p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/41426186&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>Upcoming Shows</h3>
        <table>
          <thead>
            <tr>
              <th>Date</th><th>Location</th><th>Venue</th><!--<th>Links</th>-->
            </tr>
          </thead>
          <tbody>
          <% @shows.first(10).each do |show| %>
            <tr>
              <td><%= show[:date] %></td>
              <td>
                <%= show[:location] %>
                <% if show.key?(:prtm) && show[:prtm] == true %>
                  <span class="prtm-indicator" title="Punk Rock Time Machine">*</span>
                <% end %>
              </td>
              <td>
                <% if show[:links].count > 0 %>
                  <a href="<%= show[:links].first %>" target="_blank"><%= show[:venue] %></a>
                <% else %>
                  <%= show[:venue] %>
                <% end %>
                <% if show.key?(:prtm) && show[:prtm] == true %>
                  <span class="prtm-indicator" title="Punk Rock Time Machine">*</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <a href="/tour" class="button radius small">More Tour Dates &raquo;</a>
          </div>
          <% if (@shows.select { |show| show.key?(:prtm) && show[:prtm] = true }).count > 0 %>
          <div class="large-6 medium-6 columns">
            <span class="prtm-indicator">*</span> = Punk Rock Time Machine
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
