
  <% captions = [
    'Multi-Dimensional.',
    'The sauce is the boss',
    'Cross-Contaminated',
    'Catch Wordsauce at Rock n\' Flow 2015!',
    'New EP The Leak out soon!',
    'Only 2014\'s kids will know this',
    'salsa de palabra',
    'ponte tus zapatos de baile'
  ]
  %>
  <div class="row">
    <div class="large-12 columns">
      <ul data-orbit data-options="slide_number:false;">
        <% (1..5).each do |i| %>
        <li>
          <img src="/images/slider/slide_<%= i %>.jpg" alt="slide <%= i %>" />
      <!--     <div class="orbit-caption">
            <%= captions.sample %>
          </div> -->
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>New EP &ldquo;The Leak&rdquo; out soon!</h3>
        <div class="row">
          <div class="large-8 medium-8 columns">
            <p>
              Wordsauce will be releasing their new EP, "The Leak", on July 3, 2014! 
              Coming soon to iTunes, Amazon, Spotify, Last.fm, Google Play, and more!
            </p>
          </div>
          <div class="large-4 medium-4 columns">
            <a class="th" href="/images/albumart_theleak_front.jpg"><img src="/images/albumart_theleak_front_sm.jpg"></a>
          </div>
        </div>
        <%
        # <a href="https://soundcloud.com/wordsauce/sets/the-leak" class="medium radius alert button" target="_blank"><img class="soundcloud-icon" src="/images/soundcloud_icon.png"> Stream it on Soundcloud &raquo;</a>
        %>
        <div class="row">
          <div class="large-12 columns">
            <p>
              Available for streaming NOW on Soundcloud!
            </p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/41426186&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>Upcoming Shows</h3>
        <%
        shows = [
          { date: '7/13/2014', location: 'Ventura, CA', venue: 'Surf Rodeo @ Pierpont Beach', links: ['http://surfrodeo.org'] },
          { date: '8/2/2014', location: 'Ventura, CA', venue: 'Bombay Bar &amp; Grill', links: [] },
          { date: '8/8/2014', location: 'Lomita, CA', venue: 'The Firehouse', links: [] },
          { date: '8/13/2014', location: 'Gilroy, CA', venue: 'Studio 222', links: [] },
          { date: '8/16/2014', location: 'Half Moon Bay, CA', venue: 'Old Princeton Landing', links: [] }
        ]
        %>
        <table>
          <thead>
            <tr>
              <th>Date</th><th>Location</th><th>Venue</th><th>Links</th>
            </tr>
          </thead>
          <tbody>
          <% shows.first(4).each do |show| %>
            <tr>
              <td><%= show[:date] %></td><td><%= show[:location] %></td><td><%= show[:venue] %></td><td><%= show[:links].map{|l| "<a href=\"#{l}\">#{l}</a>" }.join('<br>') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <a href="/tour" class="button radius small">More Tour Dates &raquo;</a>
      </div>
    </div>
  </div>
