
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Upcoming Shows</h3>
      <hr>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Venue</th>
          </tr>
        </thead>
        <tbody>
        <% @shows.each do |show| %>
          <tr>
            <td><%= show[:date] %></td>
            <td><%= show[:location] %></td>
            <td>
              <% if show[:links].count > 0 %>
                <a href="<%= show[:links].first %>" target="_blank"><%= show[:venue] %></a>
              <% else %>
                <%= show[:venue] %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
